@use '../../mixins';

.footer {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 2.4rem;
}

.footer__text {
  text-align: center;
}

.footer__corporate {
  font-size: 1.2rem;
  @include mixins.responsive(md) {
    font-size: 1.4rem;
  }
}
