@use '../../mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue);
  box-shadow: 0 0 1rem rgba(#000, 0.3);
  padding: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 999;
  @include mixins.responsive(md) {
    padding: 1.6rem 3.2rem;
  }
}

.header__logo {
  color: var(--primary-white);
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1;
  @include mixins.responsive(md) {
    font-size: 2.6rem;
  }
}
