@use '../../mixins';

.pagination {
  font-size: 1.4rem;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item {
  &:not(:first-child) {
    margin-left: 0.8rem;
  }
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.1rem solid var(--primary-blue);
  background-color: var(--primary-blue);
  color: var(--primary-white);
  width: 4rem;
  height: 4rem;
  line-height: 1;
  transition: 0.3s;
  @include mixins.hover {
    background-color: var(--primary-white);
    color: var(--primary-blue);

    .pagination__arrow {
      color: var(--primary-blue);
      stroke: var(--primary-blue);
    }
  }

  &:active {
    background-color: var(--primary-blue);
    color: var(--primary-white);

    .pagination__arrow {
      color: var(--primary-white);
      stroke: var(--primary-white);
    }
  }

  &[aria-current='page'] {
    background-color: var(--primary-white);
    color: var(--primary-blue);
    pointer-events: none;
  }
}

.pagination__arrow {
  color: var(--primary-white);
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--primary-white);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: 0.3s;
}
