@use '../../mixins';

.section {
  padding: 4.8rem 0 9.6rem;
  @include mixins.responsive(md) {
    padding: 8rem 0 12.8rem;
  }
}

.section__title {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: bold;
  @include mixins.responsive(md) {
    font-size: 3rem;
  }
}

.section__text {
  display: inline-block;
  word-break: break-all;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: var(--primary-blue);
    width: 70%;
    height: 0.4rem;
    position: absolute;
    right: 0;
    bottom: -0.8rem;
    left: 0;
    margin: 0 auto;
  }
}

.section__br {
  @include mixins.responsive(sm) {
    display: none;
  }
}

.noneText {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 8rem;
  @include mixins.responsive(sm) {
    font-size: 2rem;
  }
  @include mixins.responsive(md) {
    font-size: 2.4rem;
  }
}

.list {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  margin-top: 4rem;
  @include mixins.responsive(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.responsive(md) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4.8rem;
  }
}

.pagination {
  margin-top: 4.8rem;
  @include mixins.responsive(sm) {
    margin-top: 8rem;
  }
}

.linkWrapper {
  text-align: center;
  margin-top: 6.4rem;
  @include mixins.responsive(sm) {
    margin-top: 7.2rem;
  }
}
